@import-normalize;

.App {
    display: flex;
    min-height: 100vh;
    flex-direction: column;
  }

body {
    margin: 0;
    padding: 0;
}

.Transition-enter {
  opacity: 0.01;
}
.Transition-enter.Transition-enter-active {
  opacity: 1;
  transition: opacity 500ms ease-in;
}
.Transition-leave {
  opacity: 1;
}
.Transition-leave.transition-leave-active {
  opacity: 0.01;
  transition: opacity 300ms ease-in;
}