.App {
  margin: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  display: -webkit-box; 
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex; 
  display: flex;
  min-height: 100vh;
  min-height: -webkit-fill-available;
  flex-direction: column;
  position:relative;
}